<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<nav class="bg-gray-800 p-4 w-full">
    <div class="container mx-auto flex items-center justify-between gap-4">
        <a href="{% url 'homepage' %}" class="text-white text-lg font-semibold">SemanticMinds</a>
        
        <div class="relative h-fit">

            <form action="return false;" id="searchForm" class="flex items-center h-fit mb-0">
                <div class="flex items-center gap-x-4 w-full max-w-4xl relative h-fit">
                    <input
                    type="text"
                    name="searchInput"
                    id="searchInput"
                    class="w-full py-3 pl-4 pr-8 text-white placeholder-white bg-slate-700 border-2 border-slate-300 rounded-xl"
                    required="false"
                    placeholder="Search for a company"
                    />
                    <button type="submit" class = "relative right-0 top-0">
                        <!-- <i class="fa-solid fa-magnifying-glass absolute right-0 top-[-8px] mr-8 text-[#8ab4f8] cursor-pointer"></i> -->
                        <svg class="w-6 h-6 text-[#8ab4f8] absolute top-1/2 -translate-y-1/2 right-5 sm:right-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </button>
                </div>
            </form>

        </div>

    </div>
</nav>
<script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        
        var searchValue = document.getElementById('searchInput').value;
        
        var redirectURL = window.location.origin + '/search?q=' + encodeURIComponent(searchValue);
        
        window.location.href = redirectURL;
    });
</script>