{% load static %}

{% block framework %}
  <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        {% load static %}
        <title>Search</title>
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Navbar -->
        {% include 'navbar.html' %}
        <div class = "p-8 flex flex-col gap-y-4">
        <!-- Search Form -- >
            <!-- Search Results -->
            <p> Around {{pagination.total}} result (showing {{pagination.per_page}} per page)</p>

            {% if api_data|length == 0 %} 
                <p> No results found </p>
            {% else %}
                {% for item in api_data %}
                    <div class="flex flex-col gap-y-4">
                        <div class="flex flex-col gap-y-2">
                            <a href="{% url 'companyDetail' uri=item.company_uri.value|slice:"25:" %}" class="text-2xl font-bold text-blue-500">{{item.company_name.value}}</a>
                            <p class="text-lg text-gray-500">{{item.company_uri.value}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if pagination.last_page != 1 and api_data|length != 0 %}
                <div class = "flex gap-x-4">
                    {% for i in range %}
                        {% if i == pagination.current_page %}
                            <a class="text-2xl font-bold text-blue-500"> {{i}} </a>
                        {% else %}
                            <a href="/search/?q={{search}}&page={{i}}" class="text-2xl font-bold text-gray-500">{{i}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </body>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            var searchValue = document.getElementById('searchInput').value;
            
            var redirectURL = window.location.origin + '/search?q=' + encodeURIComponent(searchValue);
            
            window.location.href = redirectURL;
        });
    </script>
</html>